.container{
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    background-color: #6b6fbc;
    padding: 80px 0 50px;
}
.noOfQuestions{
   
   
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    position: absolute;
    top: 15px;
    left: 0px;
}
.button{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 250px;
    max-width: 250px;
    padding: 0 22px;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    border: none;
    background-color: #595c9c;
  
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    font-family: 'BS', Roboto, Arial, sans-serif;
    transition:  0.1s ease-in ;
    
}
.testOptions > img:hover{
    opacity: 0.5;
   transition: all 0.2s ;
  
  
}
.button:hover{
    border: 3px solid white;
    background-color: #6b6fbc;
}
.button>svg{
    font-size: 35px;
    font-weight: 100px ;
    font-family: 'Courier New', Courier, monospace;

}
@media screen and (max-width:200px) {
    .button{
       
        width: 100px;
    }
    
}
@media screen and (max-width:600px) {
    .button{
       
        width: 150px;
    }
    
}